@charset "UTF-8";
@font-face {
  font-family: "Lato-reg";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/latoRegular/LatoRegular.woff.eot");
  src: url("../fonts/latoRegular/LatoRegular.woff.eot?#iefix") format("embedded-opentype"), url("../fonts/latoRegular/LatoRegular.woff.woff") format("woff"), url("../fonts/latoRegular/LatoRegular.woff.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-reg";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/latoBold/latoBold.woff.eot");
  src: url("../fonts/latoBold/latoBold.woff.eot?#iefix") format("embedded-opentype"), url("../fonts/latoBold/latoBold.woff.woff") format("woff"), url("../fonts/latoBold/latoBold.woff.ttf") format("truetype"); }

@font-face {
  font-family: "Lato-reg";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/LatoLight/LatoLight.woff.eot");
  src: url("../fonts/LatoLight/LatoLight.woff.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff.woff") format("woff"), url("../fonts/LatoLight/LatoLight.woff.ttf") format("truetype"); }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
  margin-top: 10px; }

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

.header-top_wrap {
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px; }

.logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.header-top__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 40px; }

.header-top_li {
  padding: 1vw 0 1vw 2vw; }

.header-top_menu-btn {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #f0626e; }
  .header-top_menu-btn_span, .header-top_menu-btn_span:before, .header-top_menu-btn_span:after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffff;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -1px; }
  .header-top_menu-btn_span:before {
    content: '';
    margin-top: -7px;
    transition: all .2s; }
  .header-top_menu-btn_span:after {
    content: '';
    margin-top: 5px;
    transition: all .2s; }

.header-top_menu-btn_active .header-top_menu-btn_span {
  background-color: transparent; }
  .header-top_menu-btn_active .header-top_menu-btn_span:before {
    transform: rotate(135deg);
    margin-top: 0; }
  .header-top_menu-btn_active .header-top_menu-btn_span:after {
    transform: rotate(-135deg);
    margin-top: 0; }

.header-top_menu-btn {
  display: none;
  position: relative; }

.header-middle__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f6f6f6; }

.header-middle_li:nth-child(2n+1) {
  background-color: #05aecc;
  transition: .5s; }
  .header-middle_li:nth-child(2n+1):hover {
    background-color: #0499b3; }

.header-middle_li:nth-child(2n) {
  background-color: #f0626e;
  transition: .5s; }
  .header-middle_li:nth-child(2n):hover {
    background-color: #ee4b59; }

.header-middle_li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 117px;
  min-height: 5rem;
  margin: 0 0 0 5px; }

.header-middl_link {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffff;
  line-height: 1.75;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  position: relative;
  top: calc(50% - 16px);
  font-size: 1rem;
  line-height: calc(1.5em + .2vw); }

.header-middl_link:hover {
  color: #ffff; }

.header-middl_link:active {
  color: #e2e2e2; }

.header-middle_menu {
  display: block;
  background-color: #05aecc;
  height: 50px; }

.header-middle_menu_images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.header-middle_menu {
  display: none; }

.header-middle_menu_img {
  margin-left: 10px; }

.header-middle_menu_sign-in {
  height: 30px;
  width: auto; }

.header-bottom__nav {
  width: 100%; }

.header-bottom__menu {
  display: none; }

.header-bottom__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #05aecc;
  margin: 0; }

.header-bottom__li {
  display: block;
  position: relative;
  width: 9%;
  height: 70px;
  text-align: center;
  top: calc(50% - 16px);
  transition: .5s; }

.header-bottom__li:hover {
  background-color: white; }
  .header-bottom__li:hover a {
    color: #f0626e; }

.header-bottom__li--big {
  width: 10%; }

.header-bottom_link {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffff;
  position: relative;
  padding-top: 25px; }

.show-navPos,
.show-winPos {
  position: fixed;
  top: 10px;
  right: 10px;
  background: red;
  color: #fff; }

.show-winPos {
  background-color: blue;
  top: 50px; }

.header-bottom__nav {
  display: block;
  z-index: 100; }

.header-bottom__fixed {
  display: block;
  position: fixed;
  top: 0; }

.header-bottom__list_shadow {
  -webkit-box-shadow: 0px 7px 17px -2px #757575;
  -moz-box-shadow: 0px 7px 17px -2px #757575;
  box-shadow: 0px 7px 17px -2px #757575; }

.footer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #434343;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  overflow: hidden; }

.footr_blc {
  display: flex;
  flex-direction: column; }

.footr_blc-1, .footr_blc-2, .footr_blc-3 {
  width: 21%; }

.footr_blc-3 {
  overflow: hidden; }

.footr_blc-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 35%; }

.footr_titl {
  font-size: 20px;
  color: #434343;
  text-transform: uppercase; }

.footr_subsc {
  display: flex;
  flex-direction: column; }

.email_for_subscr {
  height: 70px; }

.footr_suscr_btn {
  height: 51px;
  background-color: #05aecc;
  border: none;
  color: #ffff;
  text-transform: uppercase; }

.footr__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footr__social_item_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.footr__social_item {
  width: 55px;
  height: 55px;
  margin-left: 7px; }

.footr__social_item-1 {
  background-image: url(../sprites/sprite.png);
  background-position: 0 -424px; }

.footr__social_item-2 {
  background-image: url(../sprites/sprite.png);
  background-position: 0 -496px; }

.footr__social_item-3 {
  background-image: url(../sprites/sprite.png);
  background-position: 0 -573px; }

.footr__social_item-4 {
  background-image: url(../sprites/sprite.png);
  background-position: 0 -720px; }

.footr__social_item-5 {
  background-image: url(../sprites/sprite.png);
  background-position: 0 -350px; }

.footr__social_item_link {
  display: block;
  width: 100%;
  height: 100%; }

.footr__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #434343;
  margin-bottom: 5vh;
  padding-bottom: 2vh; }

.accent_text {
  color: #f0626e; }

.top-section__wrap {
  grid-template-columns: 4fr 3fr;
  grid-gap: 10px;
  margin-top: 15px; }

.top-section__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }

.top-section__item--1 {
  min-height: 60vh;
  background-image: url(../img/men_720.jpg);
  grid-row: 1 / 3; }

.top-section__item--2 {
  min-height: 55%;
  background-image: url(../img/young_1280.jpg); }

.top-section__item--3 {
  min-height: 35%;
  background-image: url(../img/children_1280.jpg); }

.top-section__item--4 {
  min-height: 25%;
  background-color: #f0626e; }

.top-section__item--5 {
  min-height: 75%;
  background-image: url(../img/bag-640.jpg); }

.top-section__item--6 {
  min-height: 50vh;
  background-image: url(../img/compass_640.jpg);
  grid-column: 2;
  grid-row: 3 / 5; }

.top-section__item_descr {
  max-width: 293px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  position: relative;
  z-index: 3;
  transition: all 0.5s; }

.top-section__item:hover .top-section__item_descr {
  opacity: 1; }

.top-section__item_descr_shop {
  width: 30%;
  background-color: #05aecc;
  display: flex;
  align-items: center; }

.top-section__item_descr_present {
  width: 50px;
  background-color: #0499b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.top-section__item_descr_cart {
  width: 50px;
  background-color: #f0626e; }

.top-section__item_descr_price {
  width: 87px;
  background-color: #323232;
  opacity: .9; }

.top-section__item_descr_shop, .top-section__item_descr_present, .top-section__item_descr_cart, .top-section__item_descr_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffff; }

.header-middle_menu_img {
  margin: 0; }

.top-section__item--1::before, .top-section__item--2::before, .top-section__item--3::before, .top-section__item--5::before, .top-section__item--6::before {
  content: '';
  opacity: 0; }

.top-section__item--1:hover::before, .top-section__item--2:hover::before, .top-section__item--3:hover::before, .top-section__item--5:hover::before, .top-section__item--6:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(54, 47, 79, 0.5);
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -9px 18px, inset rgba(0, 0, 0, 0.3) 0 15px 20px;
  opacity: 1;
  transition: all 1s; }

.a {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer; }

.tooltip:before,
.tooltip:after {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  margin-bottom: 15px;
  transition: opacity .7s, margin-bottom .7s;
  left: 50%; }

.tooltip {
  color: #1f8b8a;
  position: relative;
  cursor: pointer; }

.tooltip:before {
  bottom: 60px;
  left: 50%;
  padding: 7px;
  width: 100px;
  margin-left: -50px;
  color: #434343;
  background-color: white;
  content: attr(data-title);
  border-radius: 5px;
  border: 1px solid #f0626e;
  box-shadow: border-box;
  text-align: center;
  z-index: 2; }

.tooltip:after {
  content: "";
  width: 0;
  height: 0;
  bottom: 41px;
  margin-left: -10px;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  /* размер и форма */
  border-color: white transparent transparent transparent;
  /* red — цвет */
  filter: drop-shadow(0 0 2px #f0626e);
  /* тень */ }

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  margin-bottom: 0;
  visibility: visible; }

.top-section__item--1_title-bl, .top-section__item--2_title-bl {
  background-color: rgba(54, 47, 79, 0.8);
  color: #ffff; }

.top-section__item--1_title-bl {
  width: 53%;
  margin-top: 50%;
  text-align: justify;
  padding: 15px;
  position: relative;
  z-index: 5; }

.top-section__item--1_descript-bl {
  width: 53%;
  background-color: #f0626e;
  color: #ffff;
  line-height: 3;
  text-align: center;
  text-transform: uppercase;
  opacity: .9;
  margin: 5px 0 15px 0; }

.top-section__item_big-title {
  font-size: 3.625em;
  color: #f0626e; }

.top-section__item--2_title-bl {
  width: 65%;
  top: 55%;
  position: relative;
  text-align: justify;
  padding: 15px; }

.top-section__item_big-title_women {
  font-size: 2em; }

.item_descr__item--3 {
  position: absolute;
  bottom: 30px;
  right: 0; }

.top-section__item--4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.top-section__serch_form {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.top-section__item_search {
  width: 85%;
  height: 70px; }

.search-btn {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  cursor: pointer; }

.jewelry_red-tangle {
  width: 98px;
  height: 87px;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #f0626e; }

.jewelry_red-triangle {
  display: inline-block;
  position: absolute;
  top: 87px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 0;
  border-color: transparent #f0626e transparent transparent; }

.jewelry_red_circle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 23px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%; }

.arrow-right {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 12px;
  left: 13px; }

.top-section__item--5_desc {
  max-width: 380px;
  position: absolute;
  bottom: 0;
  right: 0; }

.top-section__item_descr_craft {
  width: 10vw;
  background-color: rgba(54, 47, 79, 0.5); }
  .top-section__item_descr_craft .descr_craft_p {
    font-size: 28px;
    color: white;
    text-align: center;
    line-height: 2; }

.jewelry-lable {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90px;
  height: 80%;
  background-color: rgba(54, 47, 79, 0.6); }

.jewelry_p {
  font-size: 4rem;
  position: relative;
  top: 65%;
  color: #ffff;
  -moz-transform: rotate(270deg);
  /* Для Firefox */
  -ms-transform: rotate(270deg);
  /* Для IE */
  -webkit-transform: rotate(270deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(270deg);
  /* Для Opera */
  transform: rotate(270deg); }

.new-products__titles-blc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin: 3vh 0 3vh 0; }

.new-products_item {
  width: 372px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../img/purse-1031547_640.jpg); }
  .new-products_item:hover {
    cursor: pointer; }

.new-products_item:hover .top-section__item_descr {
  opacity: 1; }

.section__title {
  font-family: "Lato-reg";
  font-size: 37px;
  color: #05aecc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.886;
  letter-spacing: 3px;
  margin-left: 1.5vw; }

.new-products__slider_btns {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.new-products__slider_btn {
  width: 70px;
  height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black; }
  .new-products__slider_btn:hover {
    background-color: #f0626e;
    cursor: pointer; }

.featured-prod__slider_item + .featured-prod__slider_item {
  margin-left: 10px; }

.featured-prod__slider_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 410px;
  outline: 1px solid #b9b9b9;
  padding-bottom: 2px; }

.featured-prod_item_lable {
  width: 270px;
  height: 290px;
  background-image: url(../img/model-1.png); }

.featured-prod_lable {
  width: 82px;
  height: 33px; }

.lable_new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f0626e;
  color: white; }

.featured-prod_item_descript_top {
  padding: 0 0 10px 10px; }

.prod_item_short-desc {
  color: #f0626e; }

.featured-prod_item_descript_bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 0 2px #b9b9b9; }

.featured-prod_bott-blc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 50px;
  box-shadow: 0 0 2px #b9b9b9; }

.featured-prod_arrow {
  background-image: url(../sprites/sprite.png);
  background-position: 0px 0px;
  width: 25px;
  height: 12px; }

.featured-prod_special {
  background-image: url(../sprites/sprite.png);
  background-position: 3px -65px;
  width: 22px;
  height: 21px; }

.featured-prod_basket {
  background-image: url(../sprites/sprite.png);
  background-position: 2px -28px;
  width: 22px;
  height: 23px; }

.featured-prod_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 39%;
  font-size: 1.56em;
  color: white;
  background-color: #f0626e; }

.who-we__title_wrap {
  border-bottom: 1px solid #434343;
  margin-bottom: 3.5vh; }

.who-we__p {
  padding-left: 30px; }

.who-we_images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5vw 0 1.5vw 0;
  flex-wrap: wrap; }

.who-we__reg-btn_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #434343;
  margin-bottom: 3vh; }

.who-we__reg-btn {
  width: 50%;
  height: 47px;
  background-color: #05aecc;
  font-size: 27px;
  color: #ffff;
  border: none;
  cursor: pointer;
  margin-bottom: 3vh; }

@media only screen and (max-width: 800px) {
  .header-top_wrap {
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px; }
  .header-top_menu-btn {
    display: block;
    float: right;
    z-index: 101; }
  .header-top__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    top: 120px;
    position: absolute;
    background-color: #f0626e;
    margin: 0;
    left: -100vw;
    transition: all .5s;
    z-index: 100; }
    .header-top__list_active {
      left: 0; }
    .header-top__list .header-top_li {
      width: 100vw;
      text-align: center;
      padding: 1vw 0 1vw 2vw; }
    .header-top__list .header-top_link {
      display: block;
      width: 100%;
      font-size: 1.1em;
      color: #ffff;
      line-height: 4;
      font-weight: 200;
      letter-spacing: 4px; }
  .header-middle__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .4s;
    margin: 0; }
  .header-middle__list {
    height: 0;
    overflow: hidden;
    transition: all .5s; }
  .header-middle__list--active {
    width: 100vw;
    position: absolute;
    height: auto;
    z-index: 22;
    transition: all .5s; }
  .header-middle_li {
    width: 100%;
    border-bottom: 1px solid #036e81;
    margin: 0; }
  .header-middle_menu {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .header-bottom__nav {
    display: block;
    position: absolute;
    z-index: 99; }
  .header-bottom__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #05b6d6;
    color: #ffff;
    text-transform: uppercase;
    transition: all .5s; }
    .header-bottom__menu:visited {
      color: #ffff; }
  .header-bottom__fixed {
    display: block;
    position: fixed;
    top: 0; }
  .header-bottom__li--big {
    width: 20%; }
  .triangle-bottom {
    display: inline-block;
    width: 6px;
    height: auto;
    border-style: solid;
    border-radius: 5%;
    border-width: 6px 6px 0 6px;
    border-color: #ffff transparent transparent transparent;
    margin-left: 5px;
    transition: all .5s; }
  .triangle-top {
    display: inline-block;
    width: 6px;
    height: auto;
    border-style: solid;
    border-radius: 5%;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #ffff transparent;
    margin-left: 5px;
    transition: all .5s; }
  .header-bottom__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #05aecc;
    width: 100vw;
    transform: scaleY(0); }
  .header-bottom__list--mobile {
    transform: scaleY(1); }
  .top-section__wrap {
    grid-template-columns: 100vw;
    grid-gap: 10px; }
  .top-section__item--1, .top-section__item--2, .top-section__item--3, .top-section__item--4, .top-section__item--5, .top-section__item--6 {
    grid-column: 1;
    min-height: 45vh; }
    .top-section__item--1 .top-section__item--1_title-bl, .top-section__item--2 .top-section__item--1_title-bl, .top-section__item--3 .top-section__item--1_title-bl, .top-section__item--4 .top-section__item--1_title-bl, .top-section__item--5 .top-section__item--1_title-bl, .top-section__item--6 .top-section__item--1_title-bl {
      width: 75%;
      margin-top: 40%;
      background-color: rgba(54, 47, 79, 0.6); }
    .top-section__item--1 .top-section__item--1_descript-bl, .top-section__item--2 .top-section__item--1_descript-bl, .top-section__item--3 .top-section__item--1_descript-bl, .top-section__item--4 .top-section__item--1_descript-bl, .top-section__item--5 .top-section__item--1_descript-bl, .top-section__item--6 .top-section__item--1_descript-bl {
      width: 100%;
      font-size: .8em;
      margin: 5px 0 5px 0; }
    .top-section__item--1 .top-section__item_big-title, .top-section__item--2 .top-section__item_big-title, .top-section__item--3 .top-section__item_big-title, .top-section__item--4 .top-section__item_big-title, .top-section__item--5 .top-section__item_big-title, .top-section__item--6 .top-section__item_big-title {
      font-size: 2.625em; }
    .top-section__item--1 .top-section__item--2_title-bl, .top-section__item--2 .top-section__item--2_title-bl, .top-section__item--3 .top-section__item--2_title-bl, .top-section__item--4 .top-section__item--2_title-bl, .top-section__item--5 .top-section__item--2_title-bl, .top-section__item--6 .top-section__item--2_title-bl {
      width: 65%;
      top: 0;
      position: relative;
      text-align: justify;
      padding: 15px; }
    .top-section__item--1 .top-section__item_big-title_women, .top-section__item--2 .top-section__item_big-title_women, .top-section__item--3 .top-section__item_big-title_women, .top-section__item--4 .top-section__item_big-title_women, .top-section__item--5 .top-section__item_big-title_women, .top-section__item--6 .top-section__item_big-title_women {
      font-size: 2em; }
  .top-section__item_descr {
    max-width: 293px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    position: relative;
    z-index: 3;
    transition: all 0.5s; }
  .who-we_images_wrap {
    width: 100%; }
  .who-we_images {
    width: 100%;
    overflow: hidden; }
  .who-we_img {
    width: 100%;
    height: auto; }
  .footr_titl {
    font-size: 14px; }
  .footr_blc-4 {
    display: none; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1470px and up) */
p {
  margin: 0; }

.grid {
  display: grid; }

.container {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }

body {
  font-family: "Lato-reg";
  font-size: 16px; }

.new-products__slider {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; }

/*# sourceMappingURL=main.css.map */
